html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "EB Garamond", sans-serif;
  background-color: rgb(253, 253, 253);
  color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  min-height: 100%;
  /* font-weight: 500; */
}

h1,
h2,
h3 {
  margin: 0rem;
}

main {
  padding: 2rem 10vw;
}

@media screen and (min-width: 50em) {
  html,
  body {
    font-size: 24px;
  }
}

a {
  color: #0086b3;
  text-decoration: none;
  border-bottom: solid 1px #0086b3;
}

p {
  margin: 0rem;
}
